{% extends 'base.html.twig' %}

{% block title %}Edit MatosInformatique{% endblock %}

{% block body %}
    <h1>Edit MatosInformatique</h1>

    {{ include('admin/matos_informtatique/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_matos_informtatique_index') }}">back to list</a>

    {{ include('admin/matos_informtatique/_delete_form.html.twig') }}
{% endblock %}
