<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
            <div class="card-title">Répartition du matériel par type</div>
        </div>
        <div class="card-body">
            <div class="chart-container">
                {{ render_chart(chartByType) }}
            </div>
        </div>
      </div>
    </div>
</div><div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
            <div class="card-title">Répartition du matériel par type</div>
        </div>
        <div class="card-body">
            <div class="chart-container">
                {{ render_chart(chartByTypeInDirection) }}
            </div>
        </div>
      </div>
    </div>
</div>
