<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
        </div>
        <div class="card-body">
          <div class="chart-container">
            {{ render_chart(chart) }}
          </div>
        </div>
      </div>
    </div>
</div>
