{% extends './admin/adminbase.html.twig' %}
{% set page_title =  agent.identification.prenom ~ " " ~ agent.identification.nom  %}

{% block title %}Agent{% endblock %}

{% block body %}
    <div class="page-header">
        {% include '/admin/partials/_page_header_partials.html.twig' %}
    </div>
    <div class="card">
		<div class="card-header">
            <div class="d-flex gap-3 justify-content-end">
                <a class="btn btn-secondary rounded-pill " href="{{ path('app_admin_agent_index') }}"><i class="fa fa-home"></i> Retour</a>
                <a class="btn btn-warning rounded-pill" href="{{ path('app_admin_agent_edit', {'id': agent.id}) }}"><i class="fa fa-edit"></i> Modifier</a>
                <form action="{{ path('app_admin_agent_delete', {id:agent.id})}}" method="POST">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ agent.id) }}">
                    <button type="submit" class="btn btn-danger rounded-pill"><i class="fa fa-trash-alt"></i> Supprimer</button>
                </form>
            </div>
		</div>
		<div class="card-body">
			<ul class="nav nav-pills nav-secondary nav-pills-no-bd" id="pills-tab-without-border" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" id="pills-home-tab-nobd" data-bs-toggle="pill" href="#pills-home-nobd" role="tab" aria-controls="pills-home-nobd" aria-selected="true">Identification</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="pills-profile-tab-nobd" data-bs-toggle="pill" href="#pills-profile-nobd" role="tab" aria-controls="pills-profile-nobd" aria-selected="false">Situation Administrative</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="pills-messages-tab-nobd" data-bs-toggle="pill" href="#pills-messages-nobd" role="tab" aria-controls="pills-messages-nobd" aria-selected="false">Affectation</a>
				</li>
			</ul>
			<div class="tab-content mt-2 mb-3" id="pills-without-border-tabContent">
                <div class="tab-pane fade show active" id="pills-home-nobd" role="tabpanel" aria-labelledby="pills-home-tab-nobd">
                    {% include 'admin/agent/show_identification.html.twig' %}
                </div>
				<div class="tab-pane fade" id="pills-profile-nobd" role="tabpanel" aria-labelledby="pills-profile-tab-nobd">
					{% include 'admin/agent/show_administrative.html.twig' %}
				</div>
				<div class="tab-pane fade" id="pills-messages-nobd" role="tabpanel" aria-labelledby="pills-messages-tab-nobd">
					{% include 'admin/agent/show_affectation.html.twig' %}
				</div>
            </div>
        </div>
    </div>



{% endblock %}
