{% extends 'admin/adminbase.html.twig' %}
{% set page_title = 'Type de Matériel' %}

{% block title %}Type de Matériel{% endblock %}

{% block body %}
    <div class="page-header">
        {% include '/admin/partials/_page_header_partials.html.twig' %}
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                  <div class="d-flex gap-3 justify-content-end">
                    <a href="{{ path('app_admin_type_matos_create') }}"  title="Nouveau Type de Matériel" class="rounded-pill btn btn-black" >
                      <i class="fa fa-plus"></i>
                      Ajouter
                    </a>
                  </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="display table table-striped table-hover" id="basic-datatables">
                            <thead>
                                <tr>
                                    <th class="text-center">Nom</th>
                                    <th class="text-center">Actions</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for type in types %}
                                    <tr>
                                        <td class="text-center">{{ type.nomType }}</td>
                                        <td class="text-center">
                                          <a href="{{ path('app_admin_type_matos_show', {'id': type.id}) }}" class="btn"> <i class="fa fa-eye text-primary"></i></a>
                                          <a href="{{ path('app_admin_type_matos_edit', {'id': type.id}) }}" class="btn"> <i class="fa fa-edit text-secondary"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}





