<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}E-Suivi{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="shortcut icon" href="assets/images/favicon.svg" type="image/x-icon">

        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="assets/css/bootstrap.css">
            <link rel="stylesheet" href="assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
            <link rel="stylesheet" href="assets/vendors/bootstrap-icons/bootstrap-icons.css">
            <link rel="stylesheet" href="assets/css/app.css">
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
            <script src="assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
            <script src="assets/js/bootstrap.bundle.min.js"></script>
            <script src="assets/vendors/apexcharts/apexcharts.js"></script>
            <script   script src="assets/js/pages/dashboard.js"></script>
            <script src="assets/js/main.js"></script>
        {% endblock %}
    </head>
    <body>
        <div id="app">
            <div id="sidebar" class="active">
                {% include 'partials/_sidebar_partials.html.twig' %}
            </div>
            <div id="main">
                {% block body %}{% endblock %}
                <footer>
                    {% include 'partials/_footer_partials.html.twig' %}
                </footer>
            </div>
        </div>

    </body>
</html>
